md-toolbar.md-default-theme 
{
	background-color:#008080;
	color:white;
}

.md-toolbar-tools h1 
{
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.logo
{
	height:70%;
	width: 4%;
	margin-right: 1.2%;	
}

.u_name
{
	margin-left: 50%;	
	color: black;
}

.fab-mini
{
	background-color: white;
	color:white;
}

md-card
{
	height:40%;
	width: 40%;
}

.left-panel
{
	height: 100%;
	width: 85%;
}

.right-panel
{
	background-color: #efefef;
	height: 100%;
	width: 15%;
	text-align: center;
}

.tag
{
	background-color: #66b2b2;
}








